/* 
@function get-background-color($index) {
  $varName: "bg-" + $index;
  @if variable-exists($varName) {
    @return meta.variable-value($varName);
  }
  @return null; // or some default value
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header .sticky-header {
  height: 54px;
  background-color: #262626;
  color: white;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
header .sticky-header button {
  background-color: #82b440;
  color: white;
  font-size: 14px;
  padding: 5px 20px;
  line-height: 1.5;
  border-radius: 5px;
}
header .sticky-header button:hover {
  cursor: pointer;
}
header .sticky-header img {
  height: 20px;
}

main {
  background-color: #252530;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}

.header-nav {
  width: 1260px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 130px;
  color: #ebebeb;
}
.header-nav img {
  height: 35px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 0 7px;
  font-weight: bold;
  height: 25px;
}
.nav-item:hover {
  cursor: pointer;
}
.nav-item:first-child {
  position: relative;
}
.nav-item:first-child .notification-dot {
  position: absolute;
  top: -3px;
  right: -7px;
  width: 7px;
  height: 7px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  background-color: transparent;
  border: 1px solid gray;
  width: fit-content;
  padding: 3px;
  font-size: 12px;
  border-radius: 10px;
  color: gray;
  display: flex;
  justify-content: center;
}

.pinned-articles {
  display: grid;
  grid-template-columns: 4fr 3fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "big small small" "big small small";
  align-items: center;
  gap: 10px;
  max-width: 1300px;
  padding: 30px 0;
}
.pinned-articles__item {
  border-radius: 20px;
  color: #333350;
  height: 200px;
  background-color: #337ccf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  transition: transform 0.2s ease-in-out;
}
.pinned-articles__item:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.pinned-articles__item:first-child {
  background-color: #ffc436;
}
.pinned-articles__item:nth-child(2) {
  background-color: #ffdbaa;
}
.pinned-articles__item:nth-child(3) {
  background-color: #ffb7b7;
}
.pinned-articles__item:nth-child(4) {
  background-color: #ffb6d9;
}
.pinned-articles__item:nth-child(5) {
  background-color: #feffac;
}
.pinned-articles__item.big {
  height: 416px;
  width: 100%;
  grid-area: big;
}
.pinned-articles__item.big h1 {
  font-size: 36px;
}

.primary-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}
.primary-articles:hover {
  cursor: pointer;
}
.primary-articles__item {
  width: 1200px;
  min-height: 550px;
  background-color: #ffc436;
  background-size: cover;
  color: #333350;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10%;
  border-radius: 20px;
}
.primary-articles__item__title {
  font-size: 45px;
}

.intro {
  padding: 50px 0;
  color: #ebebeb;
}

.earlier-articles {
  width: 1200px;
}
.earlier-articles__big-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 50px;
}
.earlier-articles__big-wrapper .earlier-articles__item {
  min-height: 500px;
  background-color: #ffb6d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 5%;
  border-radius: 20px;
}
.earlier-articles__big-wrapper .earlier-articles__item:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.earlier-articles__big-wrapper .earlier-articles__item__title {
  font-size: 30px;
}
.earlier-articles__small-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 50px;
}
.earlier-articles__small-wrapper .earlier-articles__item {
  min-height: 400px;
  background-color: #feffac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 5%;
  border-radius: 20px;
}
.earlier-articles__small-wrapper .earlier-articles__item:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.earlier-articles__small-wrapper .earlier-articles__item__title {
  font-size: 25px;
}

.btn {
  font-size: 14px;
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  background-color: #363535;
  color: #ebebeb;
}
.btn.load-more-btn {
  width: 900px;
}
.btn.subscribe-btn {
  width: 170px;
}
.btn:hover {
  background-color: #ffc436;
  color: #333350;
  cursor: pointer;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ebebeb;
  padding: 100px 0;
  gap: 30px;
}
.subscribe h3 {
  font-size: 38px;
}
.subscribe h4 {
  font-size: 30px;
}
.subscribe input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
  transition: width 0.3s ease-in-out; /* This will make the change smooth */
  width: 80%;
  text-align: center;
  font-size: 20px;
  color: #ebebeb;
  /* Hover effect */
}
.subscribe input:focus {
  width: 110%; /* Expanding 10% in width */
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  background-color: #252530;
  color: #ebebeb;
}
footer .footer-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .copyright {
  font-size: 10px;
  margin: 20px 7px;
}
footer .copyright a {
  text-decoration: none;
  color: #ebebeb;
}
footer .copyright a:hover {
  cursor: pointer;
}
footer .social-links {
  display: flex;
  gap: 10px;
}
footer .social-links img {
  height: 16px;
}
footer .social-links img:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
